/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html, body {
  background: white url('grainy.jpeg') repeat center fixed; 
  font-family: 'Franklin Gothic Medium' sans-serif;
  margin: none;
  padding: none;
}

p {
  padding: none;
  margin: none;
}

h1 {
  background-color: black;
  color: white;
  margin-top: none;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


span, applet, object, iframe,
h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table,*/ caption, /*tbody,*/ tfoot, /*thead, tr, th, td,*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/*table {
  border-collapse: collapse;
  border-spacing: 0;
}*/
#notice {
  color: red;
  text-align: center;
  font-size: 30pt;
  font-style: italic;
  font-family: 'Brush Script MT';
  letter-spacing: 0.0625em; }

.why {
  text-align: center;
  font-variant: small-caps;
  font-size: 18pt;
  padding: 5px;
  width: 70%;
  margin: auto; }

#title {
  width: 100%;
  font-size: 50pt;
  text-align: center;
  height: 90px;
  padding: none;
  padding-top: 5px; }

label {
  font-size: 20px;
  height: 90px; }

.container {
  overflow: auto;
  font-size: 14pt;
  width: 96%;
  text-align: center;
  margin: auto; }

#left {
  border-right: 2px solid black;
  width: 49.8%;
  min-height: 2000px;
  float: left;
  background-color: rgba(192, 192, 192, 0.2); }

#right {
  width: 49.8%;
  float: right; }

.lost_form {
  text-align: center;
  color: white;
  font-weight: heavy;
  background-color: black; }

.lost_form td {
  padding: none;
  text-align: right;
  margin: none; }

input[type="submit"] {
  -webkit-appearance: push-button;
  white-space: pre;
  color: red;
  position: center;
  font-weight: bold; }

th {
  border-bottom: 2px dashed red; }

table {
  width: 100%; }

td {
  padding: 5px;
  text-align: center;
  font-variant: small-caps; }

h2 {
  font-size: 18pt;
  font-variant: small-caps;
  border-bottom: 5px solid black;
  text-align: center; }
