// border: 1px solid red;

html, body {
  background: image-url('grainy.jpeg') repeat center fixed; 
  font-family: 'Franklin Gothic Medium' sans-serif;
  margin: none;
  padding: none;
}

p {
  padding: none;
  margin: none;
}

h1 {
  background-color: black;
  color: white;
  margin-top: 1px;
  padding-top: 3px;
  text-align: center;
  padding-bottom: 0;
}

#notice {
  color: red;
  text-align: center;
  font-size: 30pt;
  font-style: italic;
  font-family: 'Brush Script MT';
  letter-spacing: 0.0625em;
}

.why {
  text-align: center;
  font-variant: small-caps;
  font-size: 18pt;
  padding: 5px;
  width: 70%;
  margin: auto;
  font-weight: bold;
}

h1#searchbar {
  background-color: #B8020E;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

form {
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.08em;
}

.search {
  background-color: #B8020E;
  padding-bottom: 10px;
  padding-top: 2px;
}

#title {
  width: 100%;
  font-size: 50pt;
  text-align: center;
  height: 90px;
  padding: 0;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-size: 20px;
  height: 90px;
}

.container {
  overflow: auto;
  font-size: 14pt;
  width: 96%;
  text-align: center;
  margin: auto;
}

#left {
  border-right: 2px solid black;
  width: 49.8%;
  height: 500px;
  float: left;
  background-color: rgba(192,192,192, 0.5);
  overflow: scroll;
}

#right {
  width: 49.8%;
  float: right;
  height: 500px;
  overflow: scroll;
}

.lost_form {
  text-align: center;
  background-color: black;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-bottom: 5px;
}

input[type="submit"] {
  -webkit-appearance: push-button;
  white-space: pre;
  color: #B8020E;
  position: center;
  font-weight: bold;
  border: 0px;
  height: 27px;
}

button {

}

input[type="text"] {
  height: 20px;
  width: 200px;
}

th {
  border-bottom: 2px dashed red;
}

table {
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
  font-variant: small-caps;
}

h2 {
  font-size: 18pt;
  font-variant: small-caps;
  border-bottom: 5px solid black;
  text-align: center;
}

#footer {
  height: 20px;
  background-color: black;
}

.red-text {
  color: #B8020E;
}